/***************************
Add your custom styles below
****************************/

.center-text {
  text-align: center !important;
}

.footer-links {
  text-decoration: none;
  display: inline;
}

.footer-links li {
	margin: 0 auto;
	text-align: center;
	display: inline;
	padding: 0px 80px;
}

.true-white {
	background: #fff;
}

section.hidden-xs.bg--secondary {
  padding-top: 75px !important;
}


.no-padding {
	padding-top: 70px !important;
	padding-bottom: 0px !important;
}

@media all and (max-width: 767px){

.masonry__item {
	width: 100%;
	max-width: 100%;
}

}