/***************************
Add your custom styles below
****************************/

.center-text {
  text-align: center !important;
}

.footer-links {
  text-decoration: none;
  display: inline;
}

section.hidden-xs.bg--secondary {
  padding-top: 75px !important;
}
