<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Lambda University - The Computer Science Degree of the Future</title>
        <meta name="description" content="Lambda University invests in a small number of ambitious people by training them for the world's most in-demand careers"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="assets/css/socicon.css" rel="stylesheet" type="text/css" media="all">
        <link href="assets/css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
        <link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="assets/css/interface-icons.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="assets/css/owl.carousel.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="assets/css/theme-blue.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="assets/css/custom.css" rel="stylesheet" type="text/css" media="all"/>
        <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700|Montserrat:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body class="theme--square" data-reveal-selectors="section:not(.masonry):not(:first-of-type):not(.parallax)">		
		<div class="nav-container"><nav>
		        <div class="nav-bar nav--absolute nav--transparent" data-fixed-at="700">
		            <div class="nav-module logo-module left">
		                <a href="index.html"><img alt="logo" class="logo logo-dark" src="assets/img/logo-dark.png"> <div class="vnu"><img alt="Lamda University" class="logo logo-light" src="https://lambdaschool.com/assets/img/lambdalight.png"></div></a>
		            </div>
		            <div class="nav-module menu-module left">
		                <ul class="menu">
		                    <li>
		                        <a href="#">About</a>
		                    </li><li>
		                        <a href="#">Degrees</a>
		                        <ul class="make-right">
		                            <li>
		                                <a href="#">Computer Science</a>
		                            </li><li>
		                                <a href="#">Artificial Intelligence (Coming soon)<br></a>
		                            </li><li>
		                                <a href="#">Bio-Informatics (Coming Soon)<br></a>
		                            </li>
		                        
		                        </ul>
		                    </li><li>
		                        <a href="#">Tuition &amp; Financing&nbsp;</a>
		                    </li><li class="vpf">
		                        <a href="#">Contact</a>
		                    </li><li class="vpf">
		                        <a href="#">Apply</a>
		                    </li>
		                    
		                    
		                </ul>
		            </div>
		        </div>
		        <div class="nav-mobile-toggle visible-sm visible-xs">
		            <i class="icon-Align-JustifyAll icon icon--sm"></i>
		        </div>
		    </nav>
		    
		    
		
		    
		
		</div>
		
		<div class="main-container">
					
		
					
		
					
		<a id="header" class="in-page-link"></a>
			
			<section class="height-100 imagebg cover cover-4" data-overlay="4">
		                <div class="background-image-holder background--bottom">
		                    <img alt="image" src="assets/img/hero7.jpg">
		                </div>
		                <div class="container pos-vertical-center">
		                    <div class="row">
		                        <div class="col-sm-12 text-center">
		                            <h1>The Computer Science Degree<br>of the Future</h1>
		                            <p class="lead">Immersive preparation for the world's most in-demand careers, for $0 up-front</p>
		                            <div>
		                                <a class="btn btn--primary" href="#purchase-template">
		                                    <span class="btn__text">
		                                        APPLY NOW</span>
		                                </a>
		                                
		                                
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </section><a id="intro-description" class="in-page-link"></a>
			
			<section class="project-single-stacked">
		                <div class="container">
		                    <div class="row project__summary">
		                        <div class="col-sm-8 col-sm-offset-2">
		                            <p class="lead">
		                                Lambda University invests in a small number of ambitious individuals by training them for the world's most in-demand careers. <br><br>In exchange, Lambda University graduates pay back 17% of their income during their first two years of employment.</p>
		                        </div>
		                    </div>
		                    
		                    <div class="row project__description">
		                        <div class="col-sm-4 col-sm-offset-2">
		                            <h5>Selection</h5>
		                            <p>Applicants run through a battery of tests and interviews designed to identify those with the greatest aptitude for a highly technical career.</p>
		                        </div>
		                        <div class="col-sm-4">
		                            <h5>Training</h5>
		                            <p>Once selected, a small class undergoes six months of full-time training designed to meet the rigorous demands of our hiring partners.</p>
		                        </div>
		                    </div>
		                    
		                </div>
		                
		            </section><a id="about-lambda-u" class="in-page-link"></a>
			
			<section class="imageblock features features-12 bg--secondary">
		                <div class="imageblock__content col-md-4 col-sm-3 pos-left">
		                    <div class="background-image-holder">
		                        <img alt="image" src="assets/img/istock5.jpg">
		                    </div>
		                </div>
		                <div class="container">
		                    <div class="row">
		                        <div class="col-md-7 col-md-push-5 col-sm-8 col-sm-push-4">
		                            <h4>A Program Unlike Any Other</h4>
		                            <p class="lead">During the six months of Lambda University, students will spend more time studying computing fundamentals and writing code than students at most four-year programs.</p>
		                            <div class="feature col-sm-6">
		                                <h5>Rigorous Curriculum</h5>
		                                <p>
		                                    Built from the fundamentals up, the Lambda University curriculum covers computing from its lowest levels to complete, full-stack applications.</p>
		                            </div>
		                            <div class="feature col-sm-6">
		                                <h5>Modern Practices</h5>
		                                <p>
		                                    Lambda University teaches the best practices and industry standards for software development, preparing students to jump immediately into a career.</p>
		                            </div>
		                        </div>
		                    </div>
		                    
		                </div>
		                
		            </section><a id="hiring-partners" class="in-page-link"></a>
			
			<section class="height-40">
		                <div class="container pos-vertical-center">
		                    <div class="row">
		                        <div class="col-sm-12 text-center">
		                            <h2>Hiring Partners</h2>
		                            <span>
		                                <em>Hiring partners work with instructors in developing curriculum and request first access to interview graduates</em>
		                            </span>
		                        </div>
		                    </div>
		                    
		                </div>
		                
		            </section><a id="logos" class="in-page-link"></a>
			
			<section class="partners-1 space--sm">
		                <div class="container">
		                    <div class="row">
		                        <div class="col-sm-12">
		                            <div class="slider" data-items="6" data-timing="2000">
		                                <ul class="slides">
		                                    <li>
		                                        <img alt="img" src="assets/img/partner1.png">
		                                    </li>
		                                    <li>
		                                        <img alt="img" src="assets/img/partner2.png">
		                                    </li>
		                                    <li>
		                                        <img alt="img" src="assets/img/partner4.png">
		                                    </li>
		                                    <li>
		                                        <img alt="img" src="assets/img/partner3.png">
		                                    </li>
		                                    <li>
		                                        <img alt="img" src="assets/img/partner5.png">
		                                    </li>
		                                    <li>
		                                        <img alt="img" src="assets/img/partner6.png">
		                                    </li>
		                                    <li>
		                                        <img alt="img" src="assets/img/partner7.png">
		                                    </li>
		                                </ul>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </section><a id="detailed-curriculum" class="in-page-link"></a>
			
			<section class="bg--secondary">
		                <div class="container">
		                    <div class="row">
		                        <div class="col-sm-12">
		                            <div class="elements--title">
		                                <h4>Detailed Curriculum - Computer Science</h4>
		                            </div>
		                        </div>
		                        <div class="col-md-4 col-sm-6">
		                            <div class="card card-1">
		                                
		                                <div class="card__body boxed bg--white">
		                                    <div class="card__title">
		                                        <h5>HTML, CSS and JavaScript</h5>
		                                    </div>
		                                    <span>
		                                        <em>Building blocks of web development</em>
		                                    </span>
		                                    <p>
		                                        HTML, CSS and JavaScript are what make up all webpages. You'll learn how they work, how they interact, and how to create and modify every aspect of the web.</p>
		                                </div>
		                            </div>
		                        </div><div class="col-md-4 col-sm-6">
		                            <div class="card card-1">
		                                
		                                <div class="card__body boxed bg--white">
		                                    <div class="card__title">
		                                        <h5>Git, Github and the Command Line</h5>
		                                    </div>
		                                    <span>
		                                        <em>Modern tooling for every developer</em>
		                                    </span>
		                                    <p>
		                                        Grok integrate thinker-maker-doer piverate entrepreneur sticky note iterate waterfall is so 2000 and late 360 campaign cortado quantitative vs. qualitative.
		                                    </p>
		                                </div>
		                            </div>
		                        </div><div class="col-md-4 col-sm-6">
		                            <div class="card card-1">
		                                
		                                <div class="card__body boxed bg--white">
		                                    <div class="card__title">
		                                        <h5>React.js and Redux</h5>
		                                    </div>
		                                    <span>
		                                        <em>A brief description of the card.</em>
		                                    </span>
		                                    <p>
		                                        Grok integrate thinker-maker-doer piverate entrepreneur sticky note iterate waterfall is so 2000 and late 360 campaign cortado quantitative vs. qualitative.
		                                    </p>
		                                </div>
		                            </div>
		                        </div><div class="col-md-4 col-sm-6">
		                            <div class="card card-1">
		                                
		                                <div class="card__body boxed bg--white">
		                                    <div class="card__title">
		                                        <h5>Perfect for new Startups</h5>
		                                    </div>
		                                    <span>
		                                        <em>A brief description of the card.</em>
		                                    </span>
		                                    <p>
		                                        Grok integrate thinker-maker-doer piverate entrepreneur sticky note iterate waterfall is so 2000 and late 360 campaign cortado quantitative vs. qualitative.
		                                    </p>
		                                </div>
		                            </div>
		                        </div><div class="col-md-4 col-sm-6">
		                            <div class="card card-1">
		                                
		                                <div class="card__body boxed bg--white">
		                                    <div class="card__title">
		                                        <h5>Perfect for new Startups</h5>
		                                    </div>
		                                    <span>
		                                        <em>A brief description of the card.</em>
		                                    </span>
		                                    <p>
		                                        Grok integrate thinker-maker-doer piverate entrepreneur sticky note iterate waterfall is so 2000 and late 360 campaign cortado quantitative vs. qualitative.
		                                    </p>
		                                </div>
		                            </div>
		                        </div><div class="col-md-4 col-sm-6">
		                            <div class="card card-1">
		                                
		                                <div class="card__body boxed bg--white">
		                                    <div class="card__title">
		                                        <h5>Perfect for new Startups</h5>
		                                    </div>
		                                    <span>
		                                        <em>A brief description of the card.</em>
		                                    </span>
		                                    <p>
		                                        Grok integrate thinker-maker-doer piverate entrepreneur sticky note iterate waterfall is so 2000 and late 360 campaign cortado quantitative vs. qualitative.
		                                    </p>
		                                </div>
		                            </div>
		                        </div>
		                        
		                        
		                    </div>
		                    
		                </div>
		                
		            </section><a id="dark-schedule" class="in-page-link"></a>
			
			<section class="bg--dark section--even">
		                <div class="container">
		                    <div class="row">
		                        <div class="col-sm-10">
		                            <h6>LAmbda University Day to Day</h6>
		                            <p class="lead">
		                                Lambda University takes place 100% online, allowing students to attend from anywhere. Classes run Monday-Friday from 9 a.m. to 6 p.m. Pacific, and many choose to spend one day on the weekend as extra project time.<br><br>The next course begins July 1, 2017.<br><br></p>
		                        </div>
		                    </div>
		                    
		                </div>
		                
		            </section><section class="imageblock about-1">
		                <div class="imageblock__content col-md-6 col-sm-4 pos-right">
		                    <div class="background-image-holder">
		                        <img alt="image" src="assets/img/istock1.jpg">
		                    </div>
		                </div>
		                <div class="container">
		                    <div class="row">
		                        <div class="col-md-5 col-sm-8">
		                            <h4>A New Model for Higher Education. Aligned Incentives, No Debt</h4>
		                            <p>Lambda University is consciously structured to only succeed unless when students succeed. As a result, you know we're with you every step of the way. <br></p>
		                            <p>The Lambda University career support module helps you prepare a résumé and portfolio, prepare for and book interviews, and even negotiate compensation. </p>
		                        </div>
		                    </div>
		                    
		                </div>
		                
		            </section><section class="bg--secondary">
		                <div class="container">
		                    <div class="row">
		                        <div class="col-sm-4">
		                            <div class="testimonial testimonial-1 text-center boxed bg--white">
		                                <img alt="avatar" src="assets/img/rowborg.jpg">
		                                <p>
		                                    “The world desperately needs Lambda University. I'm glad to see it finally come to fruition”
		                                </p>
		                                <h5>Jake Rosenburg</h5>
		                                <span>CTO, LendUp</span>
		                            </div>
		                        </div>
		                        <div class="col-sm-4">
		                            <div class="testimonial testimonial-1 text-center boxed bg--white">
		                                <img alt="avatar" src="assets/img/avatar-small-2.png">
		                                <p>
		                                    “Flexible, easy to use, stunning to look at, this template has it all - and the code is top notch”
		                                </p>
		                                <h5>James Felix</h5>
		                                <span>CTO, Oculus Rift</span>
		                            </div>
		                        </div>
		                        <div class="col-sm-4">
		                            <div class="testimonial testimonial-1 text-center boxed bg--white">
		                                <img alt="avatar" src="assets/img/avatar-small-3.png">
		                                <p>
		                                    “As expected, Pillar is a fantastic product that made creating our landing page an absolute breeze”
		                                </p>
		                                <h5>David Stilwell</h5>
		                                <span>Director of Recruiting, Google</span>
		                            </div>
		                        </div>
		                    </div>
		                    
		                </div>
		                
		            </section><a id="tuition-title" class="in-page-link"></a>
			
			<section class="height-40">
		                <div class="container pos-vertical-center">
		                    <div class="row">
		                        <div class="col-sm-12 text-center">
		                            <h2>Tuition &amp; Financing</h2>
		                            <span>
		                                <em>Choose no up-front tuition, no income-based repayment, or a little of each</em>
		                            </span>
		                        </div>
		                    </div>
		                    
		                </div>
		                
		            </section><a id="tuition-details" class="in-page-link"></a>
			
			<section>
		                <div class="container">
		                    <div class="row">
		                        <div class="col-sm-10 col-sm-offset-1 text-center">
		                            
		                            <div class="tabs-container tabs-2">
		                                <ul class="tabs">
		                                    <li class="active">
		                                        <div class="tab__title">
		                                            <h5>$0 Up-Front</h5>
		                                        </div>
		                                        <div class="tab__content">
		                                            <p class="lead">
		                                                $0 Up-Front, 17% of income for two years</p>
		                                        </div>
		                                    </li>
		                                    <li>
		                                        <div class="tab__title">
		                                            <h5>$10,000 Up-Front</h5>
		                                        </div>
		                                        <div class="tab__content">
		                                            <p class="lead">
		                                                $10,000 up-front, 17% of income for one year</p>
		                                        </div>
		                                    </li>
		                                    <li>
		                                        <div class="tab__title">
		                                            <h5>$20,000 Up-Front</h5>
		                                        </div>
		                                        <div class="tab__content">
		                                            <p class="lead">$20,000 up-front, no income-based repayment</p>
		                                        </div>
		                                    </li>
		                                </ul>
		                            </div>
		                            
		                        </div>
		                    </div>
		                    
		                </div>
		                
		            </section><a id="cta" class="in-page-link"></a>
			
			<section class="bg--primary space--sm cta cta-5">
		                <div class="container">
		                    <div class="row">
		                        <div class="col-sm-12 text-center">
		                            <h4>The Next Class Begins July 1, 2017</h4>
		                            <a class="btn btn--sm btn--primary" href="page-contact-form-simple.html">
		                                <span class="btn__text">
		                                    Apply Now</span>
		                            </a>
		                        </div>
		                    </div>
		                    
		                </div>
		                
		            </section><footer class="footer-3 bg--white text-center-xs">
		    <div class="col-sm-3">
		        <img alt="logo" class="logo" src="assets/img/logo-dark.png">  <a class="type--underline" href="#">support@lambdaschool.com</a>
		    </div>
		    <div class="col-sm-6 text-center">
		        <ul class="footer__navigation">
		            <li>
		                <a href="#">About</a>
		            </li>
		            <li>
		                <a href="#">Terms</a>
		            </li>
		            <li>
		                <a href="#">Careers</a>
		            </li>
		            <li>
		                <a href="#">Contact</a>
		            </li>
		        </ul>
		    </div>
		    <div class="col-sm-3 text-right text-center-xs">
		        <ul class="social-list">
		            <li>
		                <a href="#"><i class="socicon-twitter"></i></a>
		            </li>
		            
		            <li>
		                <a href="#"><i class="socicon-facebook"></i></a>
		            </li>
		            
		        </ul><span class="type--fine-print">© Copyright <span class="update-year">2017</span> Lambda University</span>
		    </div>
		</footer>
		</div>
		
				
		<script src="assets/js/jquery-2.1.4.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/scrollreveal.min.js"></script>
        <script src="assets/js/parallax.js"></script>
        <script src="assets/js/scripts.js"></script>
    </body>
</html>